body{
    margin: 0px;
    padding: 0px;
}
.p1{
    margin: 0px;
    padding: 0px;
    color: white;
}
*{
    color:gray;
}
#containt{
    width: 1000px;
    height: 800px;
    margin-top: 50px;
    margin-left: 150px;
}
#left{
    width: 150px;
    height: 600px;
    float: left;
}
#top{
    background-color: #000000;
    width: 150px;
    height: 150px;
    margin-top: 0px;
}
#top1{
    padding-top: 30px;
    padding-left: 30px;
}
#top2{
    margin-top:10px;
    padding-left: 30px;
}
#top3{
    margin-top: 20px;
    padding-left: 30px;
}
#zhong{
    width: 150px;
    height: 186px;
    margin-top: 30px;
}
.nn{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 30px;
    font-family:黑体;
    font-size: 12px;
    text-align: center;
}
a{
    text-decoration: none;
}
#mm{
    border: 1px solid gray;
    height: 30px;
    text-align: center;
}
#three{
    margin-top: 20px;
}
#four{
    margin-top: 10px;
}
.right{
    width: 200px;
    height: 600px;
    float:left;
    margin-left: 50px;
}
.right2{
    width: 280px;
    height: 600px;
    float:left;
    margin-left: 50px;
}
#right1top{
    width: 150px;
    height: 150px;
}
#right1top1{
    padding-top: 50px;
    padding-left: 0px;
}
#right1top2{
    margin-top: 5px;
    margin-left: 0px;
}
#right1zhong{
    margin-top: 0px;
    height: 320px;
}
#rightzhong2{
    margin-top: 150px;
    height: 150px;
}
#rightzhong3{
    margin-top: 170px;
    height: 250px;
    font-family: inherit;
    font-size: 12px;
}
#rightzhong4{
    float: right;
}
#footer{
    border-top: 1.5px solid gray;
    border-bottom: 1.5px solid gray;
    margin-left: 0px;
    width: 950px;
    height: 100px;
    margin-top: 50px;
    float: left;
    clear:left;
}
#vv{
    padding-top: 40px;
}