body{
    margin: 0px;
    padding: 0px;
}
h4{
    font-family: 黑体;
    font-size: 18px;
}
#containt{
    width: 1000px;
    height: 800px;
    margin-top: 50px;
    margin-left: 150px;
}
#left{
    width: 160px;
    height: 550px;
    float: left;
}
#top{
    background-color: #000000;
    width: 160px;
    height: 160px;
    margin-top: 0px;
}
#top1{
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-family: 黑体;
}
#top2{
    margin-top:10px;
    padding-left: 20px;
    color: white;
    font-size: 25px;
    font-family: 黑体;
}
#top3{
    margin-top: 40px;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    font-family: 黑体;
}
.zhong{
    width: 150px;
    height: 186px;
    margin-top: 30px;
}
.zhong ul #li1{
    width: 158px;
    height: 30px;
    margin-left: -40px;
    border: 1px solid silver;
}

.li2 .mm,#li1 .mm{
    display:block;
    float: left;
    margin-top:5px;
    color: black;
}
.li2 .mn,#li1 .mn{
    font-size: 18px;
    font-family: 黑体;
    color: black;
}
.li2 .nn,#li1 .nn{
    font-size: 5px;
    color: silver;
}
.zhong ul .li2{
    color: black;
    width: 158px;
    height: 30px;
    margin-left: -40px;
    border: 1px solid silver;
    border-top:0px;
}
a{
    text-decoration: none;
}
#three{
    margin-top: 20px;
}
#four{
    margin-top: 10px;
}
.right{
    margin-left: 40px;
    width: 230px;
    height: 550px;
    float: left;
}
#right1top{
    margin-left: 0px;
    margin-top: 70px;
    width: 200px;
    height: 90px;
}
#right1top1{
    font-size: 25px;
    font-weight: bold;
}
#right1top2{
    font-size: 15px;
    color: #666666;
    font-weight: bold;
}
.right1b{
    margin-left: 0px;
    margin-top: 0px;
    width: 230px;
    height: 400px;
}
.rightlb1{
    text-align: center;
    font-family: 黑体;
    font-size: 18px;
}
.rightlb2{
    text-align: center;
    font-family: 黑体;
    color: #666;
    font-weight: bold;
}
.rightlb33{
    margin-top: 30px;
    height: 180px;
}
ul{
    list-style: none;
    float: left;
}
.li11{
    font-family: 黑体;
    font-size: 16px;
    float: left;
    display: block;
    margin-left: -40px;
}
.li22{
    font-family: 黑体;
    float: left;
    margin-bottom: 10px;
    display: block;
    margin-left: -40px;
}
.li33{
    display: block;
    margin-top: 20px;
    font-size: 10px;
    float: left;
    clear: left;
    margin-left: -40px;
}
#rightlb4{
    margin-top: 20px;
}
#rightlb5{
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    color: #666666;
}
.right2{
    margin-top: 160px;
    margin-left: 30px;
    font-size: 15px;

    width: 235px;
    height: 550px;
    float: left;
}
.rightlb3{
    margin-top: 35px;
    height: 180px;
    color: #666666;
}
#rightlb6{
    margin-top: 15px;
}
.right2zhong{
    border: 1px solid silver;
    margin-top: 35px;
    width: 233px;
    height: 50px;
}
#right2xia{
    width: 235px;
    height: 40px;
}
.li111{
    width: 235px;
    height: 38px;
    margin-left: -40px;
    border-bottom: 1px dotted silver;
    border-top:0px;
}
#li222{
    width: 235px;
    height: 38px;
    height: 50px;
    margin-left: -40px;
    border-bottom: 1px dotted silver;
    border-top:0px;
}
#right2kong{
    margin-top: 35px;
}
.right2span{
    display: block;
    width: 120px;
    height: 10px;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 17px;
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight:bold;
}
.right2span2{
    display: block;
    padding-left: 0px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 17px;
    color: #666;
    float: left;
    font-size: 17px;
    font-weight:bold;
}
#footer{
    border-top: 1.5px solid silver;
    border-bottom: 1.5px solid silver;
    margin-left: 0px;
    width: 950px;
    height: 100px;
    margin-top: 0px;
    float: left;
    clear:left;
}
#vv{
    padding-top: 40px;
}